<div class="jumbotron text-light" style="background: url(<%= asset_path "image_toppage.jpg" %>); background-size:cover; position: relative;">
  <div>
    <h1>Smart Closetへようこそ！</h1>
    <p>Smart Closetはあなたの服の管理を助けます</p>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>

<div class="card-deck">

  <div class="card border-secondary">
    <h5 class="card-header">アイテム登録機能</h5>
    <div class="card-body">
      <p class="card-text">
        服を買ったらアイテム登録しましょう。
        登録したアイテムはカテゴリごとに分けられ、
        あなたが所持しすぎているカテゴリが一目瞭然です。
        持ちすぎているアイテムを不必要に買い足すことを辞め、
        お金の無駄遣いを防止しましょう。
      </p>
    </div>
  </div>


  <div class="card border-secondary">
    <h5 class="card-header">コーディネート登録</h5>
    <div class="card-body">
      <p class="card-text">
        登録したアイテムでコーディネートを登録できます。
        気温や天候、お出かけ先に合わせたコーディネートを登録し、
        毎日の判断を減らしましょう。
        私たちは物事を判断するのに意志力を消費しています。
        重要な判断を間違わないよう、コーディネートを予め決めてしまって
        意志力の無駄遣いを防止しましょう。
      </p>
    </div>
  </div>

 
  <div class="card border-secondary">
    <h5 class="card-header">所持数制限機能</h5>
    <div class="card-body">
      <p class="card-text">
        わかってはいても服を買い足してしまうのが私たちです。
        そこで予め最大所持数を決めてしまいましょう。
        Smart Closetでは、自分で決めた数を超えてアイテムを登録することを
        禁止することができます。新しいものが欲しければ、使っていないものを
        分析し、捨てることを心がけましょう。片付いたクローゼットは迷いを減らします。
      </p>
    </div>
  </div>
</div>